* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

}


.display {
    width: 500px;
    height: 100px;
    border-style: solid;
    border-bottom-style: none;
}

.top-display,
.bottom-display {
    width: 100%;
    height: 50%;
    font-size: 30px;
}

.top-display {
    border-bottom-style: dotted;

}

.button-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-style: solid;
    justify-content: center;
    align-items: center;

}

.row {
    display: flex;
    height: 100%;
    width: 100%;
}


button {
    height: 100%;
    width: 100%;
}

.numeric-btn,
.operation-btn {
    font-size: 25px;
    border-radius: 30%;
}

#clear-button,
#result-button {
    font-size: 25px;
    background-color: rgb(188, 202, 202);
    border-radius: 30%;
}

#clear-button {
    background-color: red;
}

.operation-btn {
    background-color: rgb(188, 202, 202);
}

.numeric-btn {
    background-color: beige;

}